# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
__MACOSX/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android/Flutter build ve anahtar dosyaları
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties
android/app/key.jks
android/app/upload-keystore.jks
*.apk
*.aab

# iOS build
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# Web, Linux, Windows, macOS build
web/.dart_tool/
web/build/
linux/build/
windows/build/
macos/build/
